@using WebBanLinhKienDienTu.Models
@using System.Linq
@model IEnumerable<GroupProduct>
@{
    ViewBag.Title = "SideBarMenu";
}

<div class="side-menu animate-dropdown outer-bottom-xs" style="border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); padding: 1px; background-color: red;">
    <div class="head" style="border-top-left-radius: 10px; border-top-right-radius: 10px;"><i class="icon fa fa-align-justify fa-fw"></i> Danh mục</div>
    <nav class="yamm megamenu-horizontal" role="navigation">
        <ul class="nav">
        @if (Model != null && Model.Any())
        {
            foreach(GroupProduct group in Model.OrderByDescending(g => g.Priority)){
            <li class="dropdown menu-item">
                @if (group.GroupProducts1 != null && group.GroupProducts1.Count > 0)
                {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-@(group.Icon ?? "folder") fa-fw"></i>@group.GroupName</a>
                <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                            @{int i = 0;}
                            @foreach (var subLevel2 in group.GroupProducts1.OrderByDescending(s => s.Priority))
                            {
                                if (i == 0)
                                {
                                    @Html.Raw("<div class=\"row\">")
                                }
                                <div class="col-sm-12 col-md-3">
                                <h2 class="title">@Html.ActionLink(@subLevel2.GroupName, "Detail","Category", new { id = subLevel2.GroupID },null)</h2>
                                @if (subLevel2.GroupProducts1 != null && subLevel2.GroupProducts1.Any())
                                {
                                    <ul class="links list-unstyled margin-bottom-10">
                                        @foreach (var subLevel3 in subLevel2.GroupProducts1.OrderByDescending(s => s.Priority))
                                        {
                                            <li><a href="@Url.Action("Detail", "Category", new { id = subLevel3.GroupID })">@subLevel3.GroupName</a></li>
                                        }
                                    </ul>
                                }
                                </div>
                                i = i + 1;
                                if(i == 2)
                                {
                                    @Html.Raw("</div>")
                                    i = 0;
                                }
                            }
                            @if (i > 0)
                            {
                                @Html.Raw("</div>")
                            }
                    </li><!-- /.yamm-content -->
                </ul><!-- /.dropdown-menu -->
                }
                else
                {
                    <a href="@Url.Action("Detail", "Category", new { id = group.GroupID})"><i class="icon fa fa-@(group.Icon ?? "folder") fa-fw"></i>@group.GroupName</a>
                }
            </li><!-- /.menu-item -->
            }
        }
        </ul><!-- /.nav -->
    </nav><!-- /.megamenu-horizontal -->
</div><!-- /.side-menu -->
<style>
    .nav > li:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
</style>
